---
import Layout from "../layouts/Layout.astro";
import { xidooRutasTeam } from "../includes/team";
import Devs from "../components/Devs.astro";
---

<Layout title="Equipo XIDOO RUTAS">
  <div class="md:hidden container">
    <h1 class="-mt-4 md:mt-0 text-[#E8BD38] text-center">XIDOO RUTAS TEAM</h1>
    <!-- <sectoin
      class="image-container flex flex-row overflow-y-auto max-h-screen w-screen p-5 
      [&>img]:h-[100px] [&>img]:w-[105px] [&>img]:mr-4 [&>img]:rounded-xl"
    >
      {
        xidooRutasTeam.map((dev) => (
          <img src={dev.images.image1} alt={dev.name} />
        ))
      }
    </sectoin> -->
    <Devs/>

    <div class="grid justify-center">
      <h1 class="font-extrabold text-[#ffde59] text-xl text-center">
        Jacqueline Castillo Ceja
      </h1>
      <div class="flex justify-center gap-2">
        <p class="text-[10px] bg-[#E8BD38] text-[#3b300e] p-[2px] rounded-lg">
          Database Admin
        </p>
        <p class="text-[10px] bg-[#E8BD38] text-[#3b300e] p-[2px] rounded-lg">
          UI Design
        </p>
        <p class="text-[10px] bg-[#E8BD38] text-[#3b300e] p-[2px] rounded-lg">
          Server Manager
        </p>
      </div>
      <div class="flex justify-center gap-2 my-2">
        <a href="https://www.instagram.com/jacquicastillouwu/">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            ></path>
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
            <path d="M16.5 7.5l0 .01"></path>
          </svg>
        </a>
        <a href="https://github.com/JacquelineCastill">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            ></path>
          </svg>
        </a>
        <!-- <a href="">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path>
            <path d="M8 11l0 5"></path>
            <path d="M8 8l0 .01"></path>
            <path d="M12 16l0 -5"></path>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
          </svg>
        </a> -->
      </div>
      <div class="flex justify-center">
        <img
          src="https://res.cloudinary.com/dnaokhykr/image/upload/v1694829689/xr/jacqueline_h9ucrn.jpg"
          alt=""
          class="rounded-xl w-[80%]"
          transition:animate="slide"
        />
      </div>
      <div class="">
        <p class="text-justify mx-6">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et magni
          praesentium aspernatur nihil, hic nobis adipisci vel debitis? Nisi
          minus obcaecati, magnam voluptate dicta error est nesciunt nobis
          temporibus suscipit.
        </p>
      </div>
    </div>
  </div>
</Layout>
