---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Trayectoría XIDOO RUTAS">
  <div
    class="container mx-auto my-20 md:mt-0 flex flex-col items-center justify-center lg:flex-row"
  >
    <h1 class="font-extrabold text-[#ffde59] text-2xl uppercase">Junio 2021</h1>
  </div>
  <div class="container mx-auto grid">
    <div class="grid justify-center" transition:animate="slide">
      <div
        class="lg:h-[110%] relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-3xl mx-auto border border-white bg-[#e7e3e3]"
      >
        <div class="w-full md:w-1/3 grid place-items-center">
          <img
            src="https://res.cloudinary.com/dnaokhykr/image/upload/v1696481862/prototype_d947kh.png"
            alt="tailwind logo"
            class="rounded-xl"
          />
        </div>
        <div class="w-full md:w-2/3 flex flex-col space-y-2 p-3">
          <div class="flex justify-between item-center">
            <p class="text-gray-500 font-medium block">Junio 2021</p>
          </div>
          <h3 class="font-black text-gray-800 md:text-3xl text-xl">
            Primer prototipo
          </h3>
          <p class="md:text-lg font-semibold text-gray-500 text-base">
            Los primeros prototipos funcionales de Xidoo Rutas fueron
            increíbles, dichos prototipos ofrecían diversas funcionalidades
            aunque limitadas, eran extraordinarias.
          </p>
        </div>
      </div>
    </div>

    <div class="flex justify-between p-3">
      <a href="/trajectory2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-big-left-filled"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M9.586 4l-6.586 6.586a2 2 0 0 0 0 2.828l6.586 6.586a2 2 0 0 0 2.18 .434l.145 -.068a2 2 0 0 0 1.089 -1.78v-2.586h7a2 2 0 0 0 2 -2v-4l-.005 -.15a2 2 0 0 0 -1.995 -1.85l-7 -.001v-2.585a2 2 0 0 0 -3.414 -1.414z"
            stroke-width="0"
            fill="currentColor"></path>
        </svg>
      </a>
      <a href="/trajectory4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-big-right-filled"
          width="44"
          height="44"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#ffffff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M12.089 3.634a2 2 0 0 0 -1.089 1.78l-.001 2.586h-6.999a2 2 0 0 0 -2 2v4l.005 .15a2 2 0 0 0 1.995 1.85l6.999 -.001l.001 2.587a2 2 0 0 0 3.414 1.414l6.586 -6.586a2 2 0 0 0 0 -2.828l-6.586 -6.586a2 2 0 0 0 -2.18 -.434l-.145 .068z"
            stroke-width="0"
            fill="currentColor"></path>
        </svg>
      </a>
    </div>
  </div>
</Layout>
