<div class="movil flex">
  <div class="absolute">
    <img
      src="https://res.cloudinary.com/dnaokhykr/image/upload/v1694198271/Imagen_de_WhatsApp_2023-09-08_a_las_12.37.05_ymizkh.jpg"
      alt=""
    />
  </div>
  <div class="relative">
    <div class="bg-[#615e5e] rounded-xl p-6 mb-0">
        <p>Ruta </p>
        <ul>
            <li>Ruta 23</li>
            <li>Ruta 23</li>
            <li>Ruta 23</li>
            <li>Ruta 23</li>
            <li>Ruta 23</li>
        </ul>
    </div>
  </div>
</div>
