<div
class="overflow-x-scroll whitespace-nowrap
[&>a]:inline-block [&>a]:mr-4 [&>a>img]:h-[100px] [&>a>img]:w-[105px] [&>a>img]:rounded-xl"
>
<a href="/team">
  <img
    src="https://res.cloudinary.com/dnaokhykr/image/upload/v1694829688/xr/kevin_naupyc.jpg"
    alt=""
  />
</a>
<a href="/team2">
  <img
    src="https://res.cloudinary.com/dnaokhykr/image/upload/v1694829689/xr/jacqueline_h9ucrn.jpg"
    alt=""
  />
</a>
<a href="/team3">
  <img
    src="https://res.cloudinary.com/dnaokhykr/image/upload/v1694832339/xr/asur_dmgqsc.jpg"
    alt=""
  />
</a>
<a href="/team4">
  <img
    src="https://res.cloudinary.com/dnaokhykr/image/upload/v1694829689/xr/brandon_fkho0k.jpg"
    alt=""
  />
</a>
<a href="/team5">
  <img
    src="https://res.cloudinary.com/dnaokhykr/image/upload/v1694829689/xr/allan_bdhe6w.jpg"
    alt=""
  />
</a>
<a href="/team6">
  <img
    src="https://res.cloudinary.com/dnaokhykr/image/upload/v1694829690/xr/tadeo2_bm6a2t.jpg"
    alt=""
  />
</a>
<a href="/team7">
  <img
    src="https://res.cloudinary.com/dnaokhykr/image/upload/v1694850006/xr/356254412_3420193224886127_3715537742824104919_n_yvx58e.jpg"
    alt=""
  />
</a>
</div>