<nav class="flex">
    <img src="https://xidoorutas.com/Assets/Dise%C3%B1o%20sin%20t%C3%ADtulo.png" alt="" class="w-10">
    <ul class="flex">
        <li>1</li>
        <li>1</li>
        <li>1</li>
        <li>1</li>
    </ul>
</nav>