---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="Xidoo Rutas informativa" content="Pagina web informativa sobre Xidoo Rutas. Visita beta.xidoorutas.com" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://res.cloudinary.com/dnaokhykr/image/upload/v1694183121/favicon_ovcpr8.png" />
		<meta name="Xidoo Rutas" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	html {
		background: #13151a;
		color: white;
	}
</style>
